{% extends 'base.html' %}
{% block content %}
<br><br><br><br><br>

<style>
    
        .container {
        font-size: 20px;
        padding-left: 50px;
</style>


<div class="container">
    <div class="row justify-content-center">
        <form action="matching_list/">
            <label>Type English Word Below</label><br><br>
            <input type="text" id="english_word" name="english_word" placeholder="English word..."> <br><br>
            <input type="submit" value="Do Translate">
        </form>
    </div>
</div>


{% endblock %}