{% extends 'base.html' %}
{% block content %}
<br><br><br><br><br>



<form action="matching_list/">
  <label >English Word :</label>
  <input type="text" id="english_word" name="english_word">
  <input type="submit" value="Do Translate">
</form>


<ul>
    <br><br><br><br><br><br><br>
    <li>Admin : <a href="http://127.0.0.1:8000/admin/">http://127.0.0.1:8000/admin/</a></li><br><br>

    <li>english_word_list : <a href="http://127.0.0.1:8000/english_word_list/">http://127.0.0.1:8000/english_word_list/</a></li><br>
    <li>english_word_detail : <a href="http://127.0.0.1:8000/english_word_detail/1/">href="http://127.0.0.1:8000/english_word_detail/1/</a></li><br>
</ul>

{% endblock %}